<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="QuickConverter"
            name="QuickConverter">
      </category>
      <view
            category="QuickConverter"
            class="quickconverter.ViewPart1"
            icon="icons/QC_red_16x16.gif"
            id="QuickConverter.view1"
            name="Quick Converter"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="command1"
            name="Quick_Converter">
         <commandParameter
               id="Quick_Converter.Parameter1"
               name="QC_param1"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
            id="tbid">
           <command
               commandId="command1"
               icon="icons/QC_red_16x16.gif"
               id="id1"
               style="push">
            <parameter
                  name="Quick_Converter.Parameter1"
                  value="show_QC">
            </parameter>
         </command>
       </toolbar>  
         
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="quickconverter.command_handler"
            commandId="command1">
      </handler>
   </extension>
</plugin>
